body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  */

  background: #525252;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transparent-header {
  background-color: transparent !important;
}

.no-bottom-margin {
  margin-bottom: 0;
}

/* Landing page CSS */
.landing-banner {
  backdrop-filter: blur(2px);
}

.summary-columns {
  margin-left: 10%;
  margin-right: 10%;
}

.landing-card {
  height: 100%;
  width: auto !important;
}

.landing-card-icon {
  font-size: 150%;
  margin: 0 auto;
  margin-top: 5%;
}

.card-title {
  font-size: 120%;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 5%;
}

.card-text {
  margin-bottom: 5%;
}

.card-action {
  position: absolute;
  bottom: 0px;
}

.current-project {
}

.past-projects {
}

.past-project-carousel {
  margin-left: 20%;
  margin-right: 20%;
}
/* Landing page CSS END */


/* About Me page CSS */
.background-grey {
  background-color: lightgrey;
}

.vertical-timeline::before {
  background: transparent !important;
}

.vertical-timeline.vertical-timeline--two-columns:before {
  background: #fff !important;
}

.vertical-timeline-element-date {
  text-align: center !important;
  font-weight: bold !important;
  font-size: 150% !important;
  color: white;
}

/* About Me page CSS END */


/* Projects page CSS */
.project-image {
}

.mdl-list__item-primary-content>span {
  margin: 0 auto;
}

.container {
  display: table;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.helper {
  position: absolute;
  top: 50%;
  display: table-cell;
  vertical-align: middle;
}

.content {
  position: relative;
  top: -50%;
  margin: 0 auto;
  width: 200px;
  border: 1px solid orange;
}

html, body, #wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#wrapper td {
  vertical-align: middle;
  text-align: center;
}

.mdl-card__supporting-text {
  margin: 0 auto;
}
/* Projects page CSS END */